.alltasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.h1 {
    color: rgb(19, 131, 131);
    margin-left: 60px;
}

.top {
    display: flex;
    flex-direction: row;
    /* border: 1px solid; */
    justify-content: space-between;
    align-items: center;
}


.topb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}

.topb:hover {
    border: 1px solid blue;
    border-radius: 5px;
}

.alltask {
    background-image: url("https://wallpaperaccess.com/full/806427.jpg");
    background-size: cover;
}